* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  width: 100%;
  height: 10%;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

nav {
  margin: 0 0 0 auto;
}

header a {
  text-decoration: none;
  color: rgb(29, 28, 28);
}

header ul {
  display: flex;
}

header li {
  margin: 0 0 0 15px;
  font-size: 1.1rem;
}

.navBarName {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

section {
  width: 90vw;
  margin: 0 auto;
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.list {
  border: 0.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.list:nth-child(odd) {
  flex-direction: row-reverse;
}

.topGalleryImg {
  width: 50%;
  height: 100%;
}

.galleryDescriptionWrap {
  width: 50%;
  text-align: center;
}

.galleryTitle {
  font-size: 2.8rem;
  width: 80%;
  margin: 2rem auto;
}

.description {
  width: 80%;
  margin: 2rem auto;
  text-align: justify;
}

ul {
  list-style: none;
  /* border: 1px solid rgb(175, 171, 171); */
  border-radius: 0.6rem;
  padding: 3rem 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0.5px solid rgb(206, 204, 204);
  padding: 0.5rem;
  font-size: 18px;
}

.btn-link {
  background: transparent;
  /* border: 0; */
}

button:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

footer {
  text-align: center;
  padding: 30px 0;
  background: rgba(245, 245, 245, 0.7);
}

.gallery-photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-photo-item {
  width: 240px;
  margin: 0 15px 30px;
  text-align: center;
  border: 1px solid rgb(175, 171, 171);
}

.gallery-photo-item p {
  margin: 0;
}

.gallery-photo-item img {
  width: 100%;
  height: auto;
}

.gallery-description {
  padding: 10px;
}