body {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 3rem;
}

ul {
  list-style: none;
  border: 1px solid rgb(175, 171, 171);
  border-radius: 0.6rem;
  padding: 3rem 0;
}

li {
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
  border: 0.5px solid rgb(206, 204, 204);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.btn-link {
  background: transparent;
  border: 0;
}

button:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

footer {
  text-align: center;
}