body {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}

.list {
  border: 0.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.list:nth-child(odd) {
  flex-direction: row-reverse;
}

.topGalleryImg {
  width: 50%;
  height: 100%;
}

.galleryDescriptionWrap {
  width: 50%;
  text-align: center;
}

.galleryTitle {
  font-size: 2.8rem;
  width: 80%;
  margin: 2rem auto;
}

.description {
  width: 80%;
  margin: 2rem auto;
  text-align: justify;
}

ul {
  list-style: none;
  /* border: 1px solid rgb(175, 171, 171); */
  border-radius: 0.6rem;
  padding: 3rem 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0.5px solid rgb(206, 204, 204);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.btn-link {
  background: transparent;
  /* border: 0; */
}

button:hover {
  transform: scale(1.03);
  transition: 0.3s;
}